led / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python packaging
build/
dist/
*.egg-info/

# Environment variables or secrets
.env


/EAP-IG/figures
/EAP-IG/oseap_figures
/EAP-IG/preprocessed_data/*.json
