led / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python packaging
build/
dist/
*.egg-info/

# Environment variables or secrets
.env

# Data directories
EAP-IG/preprocessed_circuit/
# deprecated_stuff/

EAP-IG/graph_data/*
EAP-IG/probing_dataset/*
EAP-IG/sae_data/*
EAP-IG/score_data/*